<div class="row">
  <div class="col-sm-12">
    <img [src]="recipe.imagePath"
         alt="{{ recipe.name }}"
         class="card-img-top card-image"
         style="max-height: 300px;">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1 class="card-title mt-2">{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div appDropdown class="btn-group mb-2" id="dropdownBtn" (click)="show = !show">
      <button class="btn btn-primary dropdown-toggle" aria-expanded="false">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" [class.show]="show">
        <li><a (click)="onAddToTheShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a (click)="onEditRecipe()" style="cursor: pointer;">Edit Recipe</a></li>
        <li><a (click)="onDeletRecipe(recipe.id)" style="cursor: pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <p class="col-sm-12 card-text">{{ recipe.description }}</p>
  <ul class="list-group">
    <li class="list-group-item"
    *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.name }} ({{ingredient.amount}})
    </li>
  </ul>
</div>

